.admin__page-nav, .admin__page-nav-title {
  &._collapsed, &.title {
    &.digital-hub-tab, &._collapsible {
      &._show .title,.title {
        background-color: #000;
        color: #fff;
        strong {
          background-image: url('Biassi_DigitalHub::images/digitalhub-logo.png');
          background-size: auto 30px;
          background-position: 0 5px;
          background-repeat: no-repeat;
          padding: 10px 15px 10px 45px;
        }
      }
    }
  }
}
